

.nav{
    width: 100%;
    min-height: 96px;
    background: #140034;

    display:flex;
    justify-content:center;
    position:fixed;
    z-index: 2;
     
    
}
.nav-list{
    padding-left: 0;
    margin:auto 16px;
}
.nav-item {
    color:white;
    list-style: none;
    margin: 0 80px;
    display: inline-block;
}
.nav-item a{
    text-decoration: none;
    color:white;

}
* {
    box-sizing: border-box;
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
    font-weight: 700;
    
  }
  .nut{
    background: linear-gradient(0deg, #FF54FF 0%, #9C00BF 49.26%, #5A00A9 100%);
    border-radius: 12px;
    padding: 12px 30px;
  }

.box{ 

    width:100%;
    
   

 position:relative}
 .box1{ 
    background: radial-gradient(42.49% 63.74% at 50% 50%, #140034 0%, #140034 100%); 
   
  
    height: 
    1800px;
    position: absolute;
    right:0;
    left: 0;
    

}
.box2{
   background-image: url(../images/br.png);
   background-size: cover;
 
  
    height: 
   1800px;
    position:relative;
    right: 0;
    left: 0;
    display: flex;
    justify-content:center
    ;
}
.func{

position: relative;


width: 35%;


top:10%;
display: flex;
flex-direction:column;
align-items: center;
};

.func h1{
    color:#FFFFFF
}


.box3{
  
    background-image: url(../images/3.png) ;
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    width: 463px;
    height: 521px;
    right: 0px
    ;
    top:0px;
    
    z-index: 1;


}
.box4{
  
    background-image: url(../images/2.png) ;
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    width: 500px;
    height: 501px;
    left: 0px
    ;
    top:50%;
    
    z-index: 1;


}

.logo{
  
    position: absolute;
    width:350px;
    height: 100px;
    left: 50%;
    top: 15%;
    transform: translateX(-50%);
    display:flex;
   


   
    
}
.title{
    
    position: absolute;
    width: 950px;
    height: 59px;
    
    left: 50%;
    top: 25%;
    transform: translateX(-50%);
    

}
.title-2{ 
    font-weight: 700;
    color: #ffffff
}
.cot{
    position: absolute;
width: 454px;
height: 846px;

  
left: 50%;
top: 28%;
transform: translateX(-50%);
display:flex;
flex-direction: column;
align-items:flex-start;

}
.cot-item1{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    
    position: static;
    width: 454px;
    height: 162px;
    left: 0px;
    top: 0px;
    
    
    /* Inside Auto Layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 35px 0px;

}



.item1{   position: static;
    
    height: 30px;
    left: 144.5px;
    top: 0px;
    flex: none;
order: 0;
flex-grow: 0;
margin: 10px 0px;

}
    
.item1 p{
 

font-family: Bai Jamjuree;
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 30px;
/* identical to box height */


color: #E3C2FF;


/* Inside Auto Layout */


}
.item2{
    
    position: static;
width: 454px;
height: 108px;
left: 0px;
top: 54px;


/* Inside Auto Layout */

flex: none;
order: 1;
flex-grow: 0;
margin: 10px 0px;}
.so{
    position: static;
width: 454px;
height: 108px;
left: 0px;
top: 4px;

background: rgba(255, 255, 255, 0.1);
border: 2px solid #C835F8;
border-radius: 12px;
}
.so h3{
    position:relative;
    width: 27px;
    height: 50px;
    left:50%;
    transform:translateX(-50%);
    top: 23px;
    
    font-family: Bai Jamjuree;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 50px;
    /* identical to box height */
    
    
    color: #FFFFFF;
}

.social{   
    position: absolute;
  
    height: 100px;
    left: 50%;
    bottom: 2%;
    transform: translateX(-50%);
    display:flex;
    

    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

   



}

.social-item{
    position: static;
width: 50px;
height: 50px;
left: 328px;
top: 0px;


/* Inside Auto Layout */

margin: 0px 20px;
}
.dash{
    position:absolute;
width: 45%;
height: 700px;
left: 50%;
top: 8%;
transform: translateX(-50%);

background: #14032D;
border-radius: 12px;
z-index: 1;
display: flex;
flex-direction: column;
align-items: center;

padding: 0px;
}
.user{
  
  
    border-radius: 12px;
    display: flex;
flex-direction: column;
align-items:center;

padding:20px;


}

.user-item {
    color:#ffffff;
  
}
.user-item2{
    display: flex;
    flex-direction: row;
    
    width: 120%;
    justify-content: space-around;
    align-items:center;
    
 
    margin: 25px -20px;

  
    
}



.input-item input{
   
    
      
    font-style: normal;
    font-weight: normal;
font-size: 18px;
line-height: 22px;
    padding-left: 40px;
    color:#ffffff;
    
    
    width: 340px;
    height: 70px;
   
    background-color:#14032D;
    
    border: 1px solid #ffffff;
    box-sizing: border-box;
    border-radius: 12px;
    margin-left: 0;
    
    
}
input:hover{
    border-color: #FF54FF;
}

 input:focus {

    border-radius : #FF54FF !important;
    
    outline-color :  #FF54FF;
    
    }
    .nut1{
        background: linear-gradient(0deg, #FF54FF 0%, #9C00BF 49.26%, #5A00A9 100%);
        border-radius: 12px;
       width: 349px;
        height: 63px;
        display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 20px 30px;
margin-top: 20px;
margin-bottom: 50px;



      }
      .nut1 h5{font-family: Bai Jamjuree;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 23px;
        letter-spacing: 0px;
        text-align: left;
        color: #ffffff;
        
        }

